<nav class="pagination is-right">
  <button
    class="button pagination-previous has-background-white"
    (click)="changePage(-1)"
  >
    Previous
  </button>
  <button
    class="button pagination-next has-background-white"
    (click)="changePage(1)"
  >
    Next page
  </button>
  <ul class="pagination-list">
    <li
      *ngFor="let item of [].constructor(pageSize); let i = index"
      (click)="onPageChange(i)"
    >
      <a
        class="pagination-link "
        [ngClass]="{
          'is-current': isCurrentPage(i),
          'has-background-white': !isCurrentPage(i)
        }"
        >{{ i + 1 }}</a
      >
    </li>
  </ul>
</nav>
