<div class="box content">
  <article class="post">
    <h4>{{ matter.text }}</h4>
    <div class="media">
      <div class="media-left"></div>
      <div class="media-content">
        <div class="content">
          <p>
            <span class="has-text-weight-bold">{{ matter.year }}</span>
            {{ matter.date }}
          </p>
        </div>
      </div>
      <div class="media-right">
        <span class="has-text-grey-light"
          ><i class="fa fa-comments"></i> type</span
        >
      </div>
    </div>
  </article>
</div>
