<div class="box">
  <div class="columns">
    <form [formGroup]="filterForm">
      <div class="column">
        <app-select
          [options]="selectConfig.options"
          [title]="selectConfig.title"
        ></app-select>
      </div>
      <div class="column">
        <input
          class="input is-accent-yellow"
          placeholder="Start date"
          type="date"
        />
      </div>
      <div class="column">
        <input
          class="input is-accent-yellow"
          placeholder="End date"
          type="date"
        />
      </div>
      <button class="button is-accent-red">Reset filters</button>
    </form>
  </div>
</div>
