<div class="box">
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <div class="columns">
      <div class="column ">
        <div class="select is-accent-yellow">
          <select name="matter-type" formControlName="type">
            <option value="">All</option>
            <option
              *ngFor="let option of selectConfig.options"
              [value]="option"
            >
              {{ option }}
            </option>
          </select>
        </div>
      </div>
      <div class="column">
        <input
          class="input is-accent-yellow"
          placeholder="Start date"
          type="date"
          formControlName="startDate"
        />
        <app-error-help
          *ngIf="filterForm.invalid && filterForm.errors.startDate"
          [message]="filterForm.errors.startDate"
        ></app-error-help>
      </div>
      <div class="column">
        <input
          class="input is-accent-yellow"
          placeholder="End date"
          type="date"
          formControlName="endDate"
        />
        <app-error-help
          *ngIf="filterForm.invalid && filterForm.errors.endDate"
          [message]="filterForm.errors.endDate"
        ></app-error-help>
      </div>
    </div>

    <button
      class="button is-accent-red"
      type="submit"
      [disabled]="!filterForm.valid"
    >
      Filter
    </button>
  </form>
</div>
