<div class="has-background-accent-lightgrey matters-container">
  <div class="columns">
    <div class="column">
      <app-matters-filter (filter)="updateFilters($event)"></app-matters-filter>
    </div>
  </div>
  <div class="columns">
    <div class="column matters-list">
      <div *ngFor="let matter of mattersRS | async" class="matter">
        <app-matter-item [matter]="matter"></app-matter-item>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <app-pagination
        (pageChange)="changePage($event)"
        [currentPage]="currentPage"
      ></app-pagination>
    </div>
  </div>
</div>
